@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait {
  @media (min-width: 600px) { @content; }
}
@mixin for-tablet-landscape {
  @media (min-width: 900px) { @content; }
}
@mixin for-desktop {
  @media (min-width: 1200px) { @content; }
}
@mixin for-big-desktop {
  @media (min-width: 1800px) { @content; }
}

@mixin tongue() {
  width: 15px !important;
  height: 15px !important;
  background: linear-gradient(45deg, rgba(255,0,0,1) 50%, rgba(255,0,0,0) 50%);
  transform: rotate(45deg);
  position: absolute;
  right:-7px;
  cursor: pointer;
}